body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expense-tracker {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  animation: fadeIn 0.5s ease-in-out;
}

.container {
  margin: 0 auto;
}

h1 {
  color: #3498db;
  text-align: center;
  font-size: 2em;
}

.balance {
  margin-top: 20px;
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.income,
.expenses {
  flex: 1;
  text-align: center;
}

form.add-transaction {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

form.add-transaction input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form.add-transaction .radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form.add-transaction label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form.add-transaction button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

form.add-transaction button:hover {
  background-color: #27ae60;
}

.transactions {
  margin-top: 40px;
  animation: fadeIn 0.5s ease-in-out;
}

h3 {
  color: #3498db;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  margin-left: 5px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.profile-photo {
  border-radius: 50%;
  margin-right: 10px;
}

.sign-out-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.sign-out-button:hover {
  background-color: #c0392b;
}